@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: 'Clash Grotesk';
  src: url('../public/fonts/font.woff') format('woff')
}
@font-face {
  font-family: 'Light Clash Grotesk';
  src: url('../public/fonts/regular-font.woff') format('woff');
}
.main_heading_font {
  font-family: 'Clash Grotesk', sans-serif;
}

.market_heading{
  font-family: 'Light Clash Grotesk', sans-serif;
}

.main_section_bg {
  position: relative;
  overflow: hidden;
  background: url('../public/images/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gradient_color {
  background: linear-gradient(135deg, #000000 30%, rgba(0, 0, 0, 0.5) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.button_shadow{
    box-shadow: 0px 0px 0px 1px #00000000;
}
.footer_bg {
  background: linear-gradient(180deg, #F1F8FF 0%, #F1F8FF 100%);

}